.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #ff3a22;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #eae30b;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.CreateMovie {
  background-color: #3a4660;
  min-height: 100vh;
  color: white;
}

.ShowMovieDetails {
  background-color: #3a4660;
  min-height: 100vh;
  color: white;
}

.UpdateMovieInfo {
  background-color: #3a4660;
  min-height: 1000vh;
  color: white;
}

.ShowMovieList {
  background-color: #3a4660;
  height: 100%;
  width: 100%;
  min-height: 200vh;
  min-width: 100px;
  color: white;
}


/* MovieList Styles */
.list {
  display: grid;
  margin: 20px 0 50px 0;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 1fr;
  grid-gap: 2em;
}

.card-container {
  width: 250px;
  border: 5px solid rgba(0,0,.125);
  margin:  auto;
  border-radius: 5px;
  overflow: hidden;
}

.desc {
  height: 300px;
  padding: 10px;
  color: white;
}

.desc h2 {
  font-size: 1em;
  font-weight: 400;
}

.desc h3, p {
  font-weight: 300;
}

.desc h3 {
  color: white;
  font-size: 1em;
  padding: 10px 0 10px 0;
}


.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 30px;
  width: 100%;
  background-color: #45a1ff;
  color: white;
  text-align: center;
}

